/* Give the body a width */
html {
    min-width: 300px; /* suppose you want minimun width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width: 300px;             /* As IE ignores !important it will set width as 1000px; */
}

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 100%;
    line-height: 0; /*this fixes space between objects*/
    background-color: #DAE6ED;
    /*max-width: 960px;*/
    /*margin: 0 auto;*/
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.dark-gradient {
    background: #3D6CA0; /* Old browsers */
    background: -moz-linear-gradient(top, #3D6CA0 0%, #333465 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3D6CA0), color-stop(100%,#333465)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3D6CA0 0%,#333465 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3D6CA0 0%,#333465 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #3D6CA0 0%,#333465 100%); /* W3C standard, IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D6CA0', endColorstr='#333465',GradientType=0 ); /* IE6-9 */
}

.light-background {
    background-color: #4B93B7; /* Old browsers */
    /*background: -moz-linear-gradient(top, #4B93B7 0%, #B0C6D2 100%);*/ /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4B93B7), color-stop(100%,#B0C6D2));*/ /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #4B93B7 0%,#B0C6D2 100%);*/ /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #4B93B7 0%,#B0C6D2 100%);*/ /* Opera 11.10+ */
    /*background: linear-gradient(to bottom, #4B93B7 0%,#B0C6D2 100%);*/ /* W3C standard, IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4B93B7', endColorstr='#B0C6D2',GradientType=0 );*/ /* IE6-9 */
}

.vertical-align {
    position: relative; 
    top: 50%;
    /*transform: translateY(-50%);*/
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

/* -----------------------------   START: Navigation Bar   ------------------------------*/

/* Make the nav take up the whole body width, 
 * and give it some top and bottom margin space */
nav {
    width: 100%;
    /*display: inline-block;*/
    position: relative;
    height: 100px;
    line-height: 100px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 999;
    /*padding: 30px;*/
}

nav .titlename {
    color: #FAFCFD;
    font-size: 200%;
    float: left;
}

nav .container ul {
    float: right;
}

nav .container ul li {
    /*width: 16.6667%;*/
    /*width: 10%;*/
    padding: 0px 10px; /* between links*/
    float: left;
}

nav a {
    /*display: block;*/
    width: 100%; 
    text-align: center;
    color: #FAFCFD;
}

nav .currentlink {
    color: #DAE6ED;
}

nav a:hover {
    color: #B0C6D2;
}

/*nav a:active :not(.inactive) {*/
nav a:active {
    color: #4B93B7;
}

.nL2 {
    display: none;
}

@media screen and (max-width:800px) {
    .nL1 {
        display: none;
}

.nL2 {
    display: block;
}
}

/* -----------------------------    END: Navigation Bar    ------------------------------*/

/*.inactiveLink {
cursor: default;
}*/

/*nav .inactiveLink a:active {
pointer-events: none;
}*/

/* -----------------------------   START: Dropdown Button   -----------------------------*/
/* Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;*/
cursor: pointer;
}

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
background-color: #3e8e41;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /*display: inline-block;*/
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3D6CA0;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*border-radius: 10px;*/    /*I want only bottom rounded*/
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px; 
    /*margin: 0 auto;*/
    text-align: center;
    /*this combo makes it float to the right vs. on the left*/
    right: 0;
    float: right;
}

.dropdown-content ul {
    text-align:center;
    line-height: 3;
}

/* Links inside the dropdown */
/*.dropdown-content ul {*/
.dropdown-content a {
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    /*background-color: #333465;*/
    /*border-radius: 10px;*/
}

/* Show the dropdown menu (use JS to 
add this class to the 
.dropdown-content container when the 
user clicks on the dropdown button) */
.show {
    display:block;
}
/* -----------------------------    END: Dropdown Button    -----------------------------*/

/* -------------------------------    START: Slideshow    -------------------------------*/

/* Slideshow container */
.mySlides {
    display: none;
    text-align: center;
}

.slideshow {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.shadow {
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0px 3px 6px rgba(0, 0, 0, 0.16), inset 0px 3px 6px rgba(0, 0, 0, 0.23);/*inset 0 0 15px #000000;*/
}

.slideshow-container {
    /*max-width: 1000px;*/
    position: relative;
    margin: auto;
    max-width: 1000px;
    /*margin-top: 0%;*/   /*keep this off, ruins the mouseover */
    /*z-index: -1;*/      /*keep this off, ruins the mouseover */
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #333465;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.25);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #D4D4D4; /*#F2F2F2*/
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #EEE; /*#bbb*/
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #D4D4D4;  /*#717171*/
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* -------------------------------    END: Slideshow    -------------------------------*/

.main-content {
    margin-top:30px;
    margin-bottom:30px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
}

/* ---------------------------------   START: Footer   ----------------------------------*/
footer {
    width: 100%;
    /*display: inline-block;*/
    position: relative;
    bottom: 0px;
    z-index: 999;
    /*height: 600px;*/
    /*line-height: 300px;*/
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1;
}

footer .container {
    /*margin-left: 15px;
    margin-right: 15px;*/
}

footer .container ul {
    list-style:none;
}

footer h1 {
    color: #fff;
}

footer .news-dates {
    font-size: 125%;
    padding: 15px 12px;
}

footer .news-press {
    padding: 3px 24px;
}

footer .twitter {
    /*padding-top: 30px;*/
    /*text-align: center;*/
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0px;
    max-width: 95% !important; /* issues with rescaling */
}

footer .copywrite {
    color: #fff;
    margin-top: 30px;
    /*position: absolute;
    bottom: 30px;*/
text-align: center;
width: 100%
}
/* ---------------------------------    END: Footer    ----------------------------------*/
